label {
    width: 140px;
    display: inline-block;
}
label[for="news"] {
    width: auto;
}
label [for="msg"] {
    vertical-align: top;
}
input[type="text"],
input[type="email"] {
    width: 240px;
    padding: 10px;
    border: none;
    border-bottom: 1px solid grey;
}

textarea {
    width: 242px;
    height: 200px;
    padding: 10px;
    resize: none;
}

input [type="text"]:focus,
input [type="password"]: focus {
    width: 250px;
    padding: 10px;
    border: none;
    border-bottom: 3px solid red;
    background: #ddd;
    outline: none;
    
}
input [type="email"]:focus {
    width: 250px;
    padding: 10px;
    border: none;
    border-bottom: 3px solid red;
    background: #ddd;
    outline: none;
    
}

::placeholder {
    color: red;
    text-align: right;
}
}
}